.dashContainer{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    padding: 5px 10px;
}

.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
    width : 550px;
}
